<html>

<head>
    <style type="text/css" rel="stylesheet">
        body {
            margin: 0;
            padding: 0;
            background-color: #6abadeba;
            font-family: 'Arial';
        }

        .root h1 {
            text-align: center;
            padding-bottom: 30px;
            padding-top: 50px;
        }

        .root p {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }

        .root a {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="root">
        <h1>Welcome!</h1>
        <p>Create an account or login <br> <br>
            <a href="/users/register">Register</a>
            <a href="/users/login"> Login</a></p>
        
       
    </div>
</body>

</html>